<div class="review">

  Nota  <%= review.rating %>
  <p class="review-comment"><%= review.comentario%></p>

  <% if user_signed_in?%>
      <% if review.user_id == current_user.id %>

          <div class="links btn-group ">
              <%= link_to "Editar", edit_book_review_path(review.book, review), class: "btn btn-custom" %>
              <%= link_to "Eliminar", book_review_path(review.book, review), method: :delete, data: {confirm: "¿Estas seguro?" }, class: "btn btn-custom" %>
          </div>
      <%end%>
  <%end%>

</div>